<div class="form-container" data-aos="fade-right">
  <p class="form-title">
    Ordering <span class="form-a">from us</span> is quick and easy! Fill out
    <span class="form-b">the form</span> below and we will contact you !
  </p>

  <form action="" class="order-form">
    <div class="inp-wrp">
      <input
        class="inp section-description"
        type="name"
        name="name"
        placeholder="Full Name"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        required
      />
    </div>
    <div class="inp-wrp">
      <input
        class="inp section-description"
        type="email"
        name="email"
        placeholder="Email"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        required
      />
    </div>

    <div class="textarea-wrp">
      <textarea
        name="comment"
        id="comment"
        class="inp textarea section-description"
        placeholder="Comment"
      ></textarea>
    </div>
    <button type="submit" class="form-button">SEND</button>
  </form>
</div>
