<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form class="form-mob-container">
      <div class="form-group">
        <p class="form-title">
          Ordering <span class="form-a">from us</span> is quick and easy! Fill
          out <span class="form-b">the form</span> below and we will contact you
          !
        </p>
      </div>
      <div class="form-name">
        <label class="name-label" for="fullname">Name</label>
        <input class="name-input" type="text" id="fullname" name="fullname" />
      </div>
      <div class="form-email">
        <label class="email-label" for="email">Email</label>
        <input class="email-input" type="email" id="email" name="email" />
      </div>
      <div class="form-comment">
        <label class="comment-label" for="comment">Comment</label>
        <input class="commit-input" type="text" id="comment" name="comment" />
      </div>
      <div class="form-button">
        <button class="form-btn" type="submit">SEND</button>
      </div>
    </form>
  </body>
</html>
