<!------------- header ---------------------->
<section class="section-header">
  <header class="page-header">
    <div class="header-container">
      <nav class="header-nav">
        <svg class="header-logo" width="194" height="18">
          <use href="/images/icons.svg#icon-logo"></use>
        </svg>
        <!------------- header ---------------------->

        <!------------- menu-nav ---------------------->
        <ul class="nav-list">
          <li class="nav-item"><a class="nav-link">How It Works</a></li>
          <li class="nav-item"><a class="nav-link">Vegetables</a></li>
          <li class="nav-item"><a class="nav-link">Reviews</a></li>
        </ul>
      </nav>
      <button class="page-header-button" type="button">SHOP NOW</button>
    </div>
  </header>
</section>
<!------------- menu-nav ---------------------->
