<section class="header">
  <div class="container header-container">
        <nav class="header-nav">
            <a href="" class="header-logo-link">
              <svg class="header-logo" width="168" height="16">
                <use href="./images/icons.svg#icon-logo"></use>
              </svg>
            </a>
          <ul class="header-list">
            <li class="header-list-item">
              <a href="#how-it-works">How It Works</a>
            </li>
            <li class="header-list-item">
              <a href="#vegetables">Vegetables</a>
            </li>
            <li class="header-list-item">
              <a href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="button-nav">SHOP NOW</button>
        <button type="button" class="burget-btn">
          <svg class="header-burger" width="32" height="32">
            <use href=".//images/icons.svg#icon-burger-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
