<section>
  <div class="hero-section">
    <div class="container hero-wrapper">
      <div class="hero-main-part">
        <h1 class="section-title hero-main-title">
          organic vegetables to your diet today!
        </h1>
        <p class="section-description hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
      </div>
      <div class="hero-image-part"></div>
    </div>
  </div>
</section>
