<section class="how-it-works-section" id="how-it-works">
  <div class="how-it-works-container container">
    <h2 class="how-it-works-title visually-hidden">How it works</h2>
    <div class="how-it-works-content-wrapper">
      <div class="how-it-works-img-wrapper">
        <picture>
          <source
            srcset="
              ./images/how-it/how-it-desk.jpg    1x,
              ./images/how-it/how-it-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="430"
            height="559"
          />
          <source
            srcset="
              ./images/how-it/how-it-tablet.jpg    1x,
              ./images/how-it/how-it-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="640"
            height="640"
          />
          <source
            srcset="
              ./images/how-it/how-it-mobile.jpg    1x,
              ./images/how-it/how-it-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
            height="450"
          />
          <img
            class="how-it-works-img"
            src="./images/how-it/how-it-mobile.jpg"
            alt="cooking process"
            width="335"
            height="450"
          />
        </picture>
      </div>
      <div class="how-it-works-text-section section-paddings">
        <p class="how-it-works-first-description">
          To order your
          <span class="how-it-works-first-description-accent">vegetable</span>
          basket, simply follow these
          <span class="how-it-works-first-description-accent">easy steps</span>
        </p>
        <p class="how-it-works-second-description">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
        <ol class="how-it-works-list">
          <li class="how-it-works-list-item">
            <p class="how-it-works-list-text">
              Just choose
              <span class="how-it-works-list-item-accent">the vegetable</span>
              you want to order by clicking on the checkboxes
              <span class="how-it-works-list-item-accent">next to it</span>.
            </p>
          </li>
          <li class="how-it-works-list-item">
            Click on
            <span class="how-it-works-list-item-accent">the basket</span> and
            fill out the form.
          </li>
          <li class="how-it-works-list-item">
            Sit back and relax! Your
            <span class="how-it-works-list-item-accent">fresh vegetables</span>
            basket will be delivered.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
