<section class="section-reviews">
  <div class="container section-reviews-container">
    <div class="section-reviews-title">
      <h2 class="reviews-title">
        reviews from our <span class="reviews-title-color">customers</span>
      </h2>
      <p class="reviews-description">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <div class="section-reviews-review">
      <ul class="section-reviews-list">
        <li class="section-reviews-items">
          <div class="section-review-container-image">
            <img
              srcset="../images/reviews/john-wax@2x-min.png 2x"
              src="../images/reviews/john-wax-min.png"
              alt=" photo Jon Wax"
              height="56px"
              width="56px"
            />
          </div>
          <div class="section-review-container-info">
            <h3 class="section-review-container-info-subtitle">John Wax</h3>
            <p class="section-review-container-info-description">
              These vegetables are my secret to delicious and healthy meals. The
              quality is always at the highest level, the aroma and taste are
              enchanting. I advise every fan of real products!
            </p>
          </div>
        </li>
        <li class="section-reviews-items">
          <div class="section-review-container-image">
            <img
              srcset="../images/reviews/victoria@2x-min.png 2x"
              src="../images/reviews/victoria-min.png"
              alt=" photo Victoria Romashenko"
              height="56px"
              width="56px"
            />
          </div>
          <div class="section-review-container-info">
            <h3 class="section-review-container-info-subtitle">
              Victoria Romashenko
            </h3>
            <p class="section-review-container-info-description">
              I love how fast and fresh the vegetables are delivered. Salads
              always turn out so appetizing, and soups are real masterpieces.
              The quality is impeccable!
            </p>
          </div>
        </li>
        <li class="section-reviews-items">
          <div class="section-review-container-image">
            <img
              srcset="../images/reviews/ihor@2x-min.png 2x"
              src="../images/reviews/ihor-min.png"
              alt=" photo Ihor Trachuk"
              height="56px"
              width="56px"
            />
          </div>
          <div class="section-review-container-info">
            <h3 class="section-review-container-info-subtitle">Ihor Trachuk</h3>
            <p class="section-review-container-info-description">
              Recently tried my fresh tomatoes and peppers - amazing! The
              authenticity of the taste, as if from the garden directly to my
              table. It is now my main vegetable supplier.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
