<section class="vegetable-container section-paddings" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title section-title">
      organic <span class="vegetables-title-span">vegetables</span>
    </h2>
    <p class="vegetables-paragraph section-description">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item" data-aos="zoom-in">
        <p class="vegetable-name">eggplant</p>
        <p class="vegetable-price">60 USD / kg</p>
        <img
          srcset="./images/vegetables/eggplant@2x.png.png 2x"
          src="./images/vegetables/eggplant2-min.png"
          alt="eggplant"
        />
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <p class="vegetable-name">leek</p>
        <p class="vegetable-price">50 USD / kg</p>
        <img
          srcset="./images/vegetables/leek@2x.png.png 2x"
          src="./images/vegetables/leek-min.png"
          alt="leek"
        />
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <p class="vegetable-name">mushrooms</p>
        <p class="vegetable-price">40 USD / kg</p>
        <img
          srcset="./images/vegetables/mushrooms@2x.png.png 2x"
          src="./images/vegetables/mushrooms-min.png"
          alt="mushrooms"
        />
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <p class="vegetable-name">corn</p>
        <p class="vegetable-price">60 USD / kg</p>
        <img
          srcset="./images/vegetables/corn@2x.png.png 2x"
          src="./images/vegetables/corn-min.png"
          alt="corn"
        />
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <p class="vegetable-name">sweet potatoes</p>
        <p class="vegetable-price">50 USD / kg</p>
        <img
          srcset="./images/vegetables/sweet-potatoes@2x.png.png 2x"
          src="./images/vegetables/potatoes-min.png"
          alt="sweet potatoes"
        />
      </li>
      <li class="vegetables-item" data-aos="zoom-in">
        <p class="vegetable-name">carrot</p>
        <p class="vegetable-price">40 USD / kg</p>
        <img
          srcset="./images/vegetables/carrot@2x.png.png 2x"
          src="./images/vegetables/carrot-min.png"
          alt="carrot"
        />
      </li>
    </ul>
  </div>
</section>
