<section class="your-order section-paddings">
  < class="container">
    <h3 class="section-title"></h3>
    <p class="section-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugit
      optio amet, esse et incidunt praesentium molestiae assumenda molestias
      minima corporis consequuntur inventore! Accusantium, rem? Ut maxime
      dolorem quis rem?
    </p>
    <load src="../partials/form.html" />
  <div>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dicta ut sint, cum delectus ullam animi facilis impedit rem quasi in expedita dolores laboriosam consequuntur voluptatem veritatis asperiores corrupti? Voluptate.
  </div>
  </div>
</section>
