html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: #7a3145;
  color: #fbfbfb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-paddings {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.section-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

@media screen and (min-width: 768px) {
  .section-paddings {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-title {
    font-size: 64px;
    line-height: 1;
  }

  .section-description {
    font-size: 16px;
    line-height: 1.25;
  }
}
