.footer {
  padding: 40px 0;
}

.footer-page-logo {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  gap: 14px;
  margin-bottom: 40px;
}

.footer-nav {
  margin-bottom: 40px;
}

.footer-nav-item {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  transition: color 250ms cubic-bezier(.4,0,.2,1);
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #576f35;
}

.contacts-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  font-style: normal;
  transition: color 250ms cubic-bezier(.4,0,.2,1);
}

.contacts-item:not(:last-child) {
  margin-bottom: 14px;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: #141414;
}

.footer-container-page {
  margin-bottom: 80px;
}

.footer-list-down {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-list-ul {
  display: flex;
  gap: 8px;
  transition: color 250ms cubic-bezier(.4,0,.2,1);
}

.footer-down-a:hover,
.footer-down-a:focus {
  line-height: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-container-page {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
  }

  .footer-nav { 
    margin-bottom: 40px;
    }

  .footer-list-down {
    font-size: 18px;
    line-height: 111%;
  }

  .footer-down-a:hover,
  .footer-down-a:focus {
    line-height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-container-page {
    margin-bottom: 125px;
  }

  .footer-page {
    display: flex;
    justify-content: space-between;
    flex-basis: 47%;
  }

  .footer-page-logo,
  .footer-nav,
  .contacts {
    margin-bottom: 0;
  }
}