.header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
.burget-btn {
  background-color: transparent;
  border: 0;
  line-height: 0;
}
@media only screen and (min-width: 768px) {
  .header-container {
    padding: 32px;
  }
  .header-logo {
    width: 194px;
    height: 18px;
  }
  .header-burger {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 1279px) {
  .button-nav,
  .header-list {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .header-container {
    padding: 32px 100px;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .header-logo-link {
    margin-right: auto;
    line-height: 0;
  }
  .header-list {
    display: flex;
    gap: 8px;
    padding: 0;
  }
  .header-list-item {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
  }
  .button-nav {
    border: 0;
    border-radius: 30px;
    padding: 16px 32px;
    background-color: #7a3145;
    color: #fbfbfb;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-nav:hover,
  .button-nav:focus {
    background-color: #622133;
  }
  .burget-btn {
    display: none;
  }
}
