/* ================================================= MOBILE 👇
========================================= */
.how-it-works-section {
  display: flex;
  flex-direction: column;
}
.how-it-works-img {
  margin: 40px auto;
  border-radius: 30px;
}
.how-it-works-content-section {
  background-color: #576f35;
}
.how-it-works-first-description {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.how-it-works-first-description-accent {
  color: rgba(251, 251, 251, 0.3);
}
.how-it-works-second-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  margin-bottom: 40px;
}
.how-it-works-list {
  counter-reset: item 0;
}
.how-it-works-list-item {
  position: relative;
  display: flex;
  align-content: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  gap: 3px;
  border-radius: 15px;
  padding-left: 100px;
  padding-right: 24px;
  max-width: 335px;
  height: 76px;
  background-color: #fbfbfb;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  counter-increment: item;
}
.how-it-works-list-item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(item) ' ';
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  position: absolute;
  top: 12px;
  left: 24px;
  border-radius: 50%;
  border: 5px solid rgba(122, 49, 69, 0.3);
  background-color: #7a3145;
  width: 52px;
  height: 52px;
}
.how-it-works-list-text {
  word-wrap: none;
}
.how-it-works-list-item-accent {
  font-weight: 700;
  color: #141414;
}
.how-it-works-list-item:not(:last-child) {
  margin-bottom: 20px;
}
/*
================================================= TABLET 👇
========================================= */
@media screen and (min-width: 768px) {
  .how-it-works-img {
    margin: 100px auto;
  }
  .how-it-works-first-description {
    font-size: 32px;
    max-width: 450px;
    margin-bottom: 25px;
  }
  .how-it-works-second-description {
    font-size: 16px;
    max-width: 450px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
  .how-it-works-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    counter-reset: item 0;
    max-width: 450px;
  }
  .how-it-works-list-item {
    max-width: 450px;
    font-size: 16px;
    line-height: 1.25;
  }
} /*
================================================= DESKTOP 👇
========================================= */
@media screen and (min-width: 1280px) {
  .how-it-works-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .how-it-works-second-description {
    margin-bottom: 50px;
  }
}
