.section-con-title {
  max-width: 335px;
  margin-bottom: 40px;
}
.section-title-h {
  margin-bottom: 29px;
}

.order-title-span {
  color: rgba(251, 251, 251, 0.3);
}

.section-con-feedback {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.order-form {
  width: 335px;
  height: 533px;
  background: #fff;
}
@import url('./form.css');

.section-con-social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
  padding: 40px 20px;
  background: #576f35;
}

.order-picture {
  margin-bottom: 20px;
}

img {
  border-radius: 15px;
}

.order-desc-social {
  color: rgba(251, 251, 251, 0.5);
  letter-spacing: -0.01em;
  margin-bottom: 14px;
}

.order-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.order-li {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .section-con-title {
    max-width: 640px;
    margin-bottom: 50px;
  }
  .section-title-h {
    margin-bottom: 25px;
  }
  .order-form {
    width: 628px;
    height: 534px;
  }
  .section-con-feedback {
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .section-con-social {
    padding: 50px;
  }
  .order-picture {
    margin-bottom: 50px;
  }
  .order-desc-social {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 15px;
  }
  .order-ul {
    gap: 12px;
  }
  .order-li {
    font-size: 32px;
    line-height: 1;
  }
}
@media only screen and (min-width: 1280px) {
  .section-con-title {
    max-width: 751px;
  }
  .section-con-feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .order-form {
    width: 529px;
    height: 534px;
  }
  .order-ul {
    max-width: 357px;
  }
}
